.mainHeader {
  height: 5vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: start;

  h1 {
    margin-left: 40px;
    font-size: 40px;
    color: rgb(46, 133, 224);
  }
}

.mainContainer {
  display: flex;
  max-height: 85vw;
  width: 100%;
  flex-direction: row;
  align-items: stretch;

  &__sidebar {
    display: flex;
    flex-direction: column;
    min-width: 400px;
  }
  &__search {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    align-self: start;
    justify-self: start;
    margin-left: 30px;
  }
  &__playerList {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 40px;
    max-height: 700px;
    min-height: 700px;
    &:last-child {
      border-bottom: none;
    }
  }
  &__item {
    border-bottom: 1px solid grey;
    line-height: 1.6;
    &:last-child {
      border-bottom: none;
    }
  }
  &__moveButtonsContainer {
    justify-content: end;
  }
  &__nextPrevButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
  }
  &__pageNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 14px;
    font-weight: bold;
  }
  &__goTo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 30px;
  }
  &__goToInput {
    width: 80px;
    margin-left: 10px;
  }
}
.statsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  grid-template-areas:
    "basic range"
    "charts charts";
}
